* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100%;
    min-height: 100vh;
    font-size: 100%;
}

.js-module {
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
    padding-top: 1rem;

    &__title {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
        color: #ffffff;
        text-align: center;
    }

    &__container {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}

#stars {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 918px 242px #FFF, 572px 1829px #FFF, 31px 359px #FFF, 1630px 229px #FFF, 157px 95px #FFF, 262px 1513px #FFF, 749px 959px #FFF, 189px 93px #FFF, 1354px 836px #FFF, 525px 70px #FFF, 1571px 13px #FFF, 1735px 176px #FFF, 1652px 620px #FFF, 749px 180px #FFF, 1360px 1564px #FFF, 1129px 919px #FFF, 1758px 18px #FFF, 1412px 1887px #FFF, 1494px 1037px #FFF, 294px 1242px #FFF, 1499px 1998px #FFF, 73px 214px #FFF, 365px 1562px #FFF, 371px 1921px #FFF, 1932px 1820px #FFF, 801px 1356px #FFF, 92px 309px #FFF, 220px 1951px #FFF, 467px 846px #FFF, 1329px 254px #FFF, 20px 724px #FFF, 505px 312px #FFF, 803px 1056px #FFF, 380px 971px #FFF, 22px 366px #FFF, 1886px 624px #FFF, 1070px 1630px #FFF, 1790px 238px #FFF, 1483px 166px #FFF, 557px 246px #FFF, 881px 313px #FFF, 530px 488px #FFF, 836px 535px #FFF, 252px 1758px #FFF, 1914px 1387px #FFF, 1666px 642px #FFF, 1343px 181px #FFF, 752px 1454px #FFF, 1088px 1016px #FFF, 1400px 1759px #FFF, 355px 1897px #FFF, 1423px 925px #FFF, 921px 1958px #FFF, 1872px 825px #FFF, 133px 277px #FFF, 1313px 1841px #FFF, 1816px 362px #FFF, 1401px 1794px #FFF, 405px 1219px #FFF, 513px 1897px #FFF, 1242px 1400px #FFF, 738px 1896px #FFF, 1418px 1888px #FFF, 581px 129px #FFF, 1237px 1708px #FFF, 1467px 78px #FFF, 1779px 893px #FFF, 1033px 1583px #FFF, 153px 1611px #FFF, 1515px 691px #FFF, 829px 1122px #FFF, 753px 1311px #FFF, 165px 1357px #FFF, 1357px 602px #FFF, 910px 375px #FFF, 558px 1341px #FFF, 1449px 355px #FFF, 1471px 505px #FFF, 703px 1182px #FFF, 390px 248px #FFF, 304px 1356px #FFF, 928px 550px #FFF, 1012px 416px #FFF, 1946px 1304px #FFF, 1280px 1718px #FFF, 352px 868px #FFF, 1387px 706px #FFF, 73px 937px #FFF, 268px 1607px #FFF, 1923px 1927px #FFF, 136px 22px #FFF, 1573px 228px #FFF, 1614px 1594px #FFF, 314px 1254px #FFF, 568px 396px #FFF, 1537px 1154px #FFF, 1195px 1738px #FFF, 1196px 501px #FFF, 1710px 1625px #FFF, 1321px 890px #FFF, 1393px 980px #FFF, 1856px 1713px #FFF, 945px 1468px #FFF, 737px 1396px #FFF, 189px 847px #FFF, 273px 204px #FFF, 1282px 1028px #FFF, 877px 541px #FFF, 300px 231px #FFF, 105px 1665px #FFF, 1917px 187px #FFF, 1985px 1446px #FFF, 1000px 359px #FFF, 344px 958px #FFF, 1206px 501px #FFF, 194px 1650px #FFF, 1283px 473px #FFF, 1666px 1051px #FFF, 1105px 546px #FFF, 1811px 1185px #FFF, 1830px 1737px #FFF, 792px 766px #FFF, 1979px 1360px #FFF, 14px 1282px #FFF, 337px 1817px #FFF, 1778px 1611px #FFF, 21px 519px #FFF, 806px 1774px #FFF, 570px 973px #FFF, 374px 1932px #FFF, 1851px 1121px #FFF, 1312px 687px #FFF, 1858px 443px #FFF, 1952px 1812px #FFF, 117px 1891px #FFF, 1290px 1298px #FFF, 145px 450px #FFF, 953px 1088px #FFF, 1568px 268px #FFF, 347px 954px #FFF, 1880px 993px #FFF, 1646px 1272px #FFF, 1473px 605px #FFF, 1196px 1227px #FFF, 1035px 1607px #FFF, 78px 193px #FFF, 1804px 210px #FFF, 173px 840px #FFF, 754px 1579px #FFF, 388px 81px #FFF;
    animation: animStar 50s linear infinite;

    &::after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: transparent;
        box-shadow: 918px 242px #FFF, 572px 1829px #FFF, 31px 359px #FFF, 1630px 229px #FFF, 157px 95px #FFF, 262px 1513px #FFF, 749px 959px #FFF, 189px 93px #FFF, 1354px 836px #FFF, 525px 70px #FFF, 1571px 13px #FFF, 1735px 176px #FFF, 1652px 620px #FFF, 749px 180px #FFF, 1360px 1564px #FFF, 1129px 919px #FFF, 1758px 18px #FFF, 1412px 1887px #FFF, 1494px 1037px #FFF, 294px 1242px #FFF, 1499px 1998px #FFF, 73px 214px #FFF, 365px 1562px #FFF, 371px 1921px #FFF, 1932px 1820px #FFF, 801px 1356px #FFF, 92px 309px #FFF, 220px 1951px #FFF, 467px 846px #FFF, 1329px 254px #FFF, 20px 724px #FFF, 505px 312px #FFF, 803px 1056px #FFF, 380px 971px #FFF, 22px 366px #FFF, 1886px 624px #FFF, 1070px 1630px #FFF, 1790px 238px #FFF, 1483px 166px #FFF, 557px 246px #FFF, 881px 313px #FFF, 530px 488px #FFF, 836px 535px #FFF, 252px 1758px #FFF, 1914px 1387px #FFF, 1666px 642px #FFF, 1343px 181px #FFF, 752px 1454px #FFF, 1088px 1016px #FFF, 1400px 1759px #FFF, 355px 1897px #FFF, 1423px 925px #FFF, 921px 1958px #FFF, 1872px 825px #FFF, 133px 277px #FFF, 1313px 1841px #FFF, 1816px 362px #FFF, 1401px 1794px #FFF, 405px 1219px #FFF, 513px 1897px #FFF, 1242px 1400px #FFF, 738px 1896px #FFF, 1418px 1888px #FFF, 581px 129px #FFF, 1237px 1708px #FFF, 1467px 78px #FFF, 1779px 893px #FFF, 1033px 1583px #FFF, 153px 1611px #FFF, 1515px 691px #FFF, 829px 1122px #FFF, 753px 1311px #FFF, 165px 1357px #FFF, 1357px 602px #FFF, 910px 375px #FFF, 558px 1341px #FFF, 1449px 355px #FFF, 1471px 505px #FFF, 703px 1182px #FFF, 390px 248px #FFF, 304px 1356px #FFF, 928px 550px #FFF, 1012px 416px #FFF, 1946px 1304px #FFF, 1280px 1718px #FFF, 352px 868px #FFF, 1387px 706px #FFF, 73px 937px #FFF, 268px 1607px #FFF, 1923px 1927px #FFF, 136px 22px #FFF, 1573px 228px #FFF, 1614px 1594px #FFF, 314px 1254px #FFF, 568px 396px #FFF, 1537px 1154px #FFF, 1195px 1738px #FFF, 1196px 501px #FFF, 1710px 1625px #FFF, 1321px 890px #FFF, 1393px 980px #FFF, 1856px 1713px #FFF, 945px 1468px #FFF, 737px 1396px #FFF, 189px 847px #FFF, 273px 204px #FFF, 1282px 1028px #FFF, 877px 541px #FFF, 300px 231px #FFF, 105px 1665px #FFF, 1917px 187px #FFF, 1985px 1446px #FFF, 1000px 359px #FFF, 344px 958px #FFF, 1206px 501px #FFF, 194px 1650px #FFF, 1283px 473px #FFF, 1666px 1051px #FFF, 1105px 546px #FFF, 1811px 1185px #FFF, 1830px 1737px #FFF, 792px 766px #FFF, 1979px 1360px #FFF, 14px 1282px #FFF, 337px 1817px #FFF, 1778px 1611px #FFF, 21px 519px #FFF, 806px 1774px #FFF, 570px 973px #FFF, 374px 1932px #FFF, 1851px 1121px #FFF, 1312px 687px #FFF, 1858px 443px #FFF, 1952px 1812px #FFF, 117px 1891px #FFF, 1290px 1298px #FFF, 145px 450px #FFF, 953px 1088px #FFF, 1568px 268px #FFF, 347px 954px #FFF, 1880px 993px #FFF, 1646px 1272px #FFF, 1473px 605px #FFF, 1196px 1227px #FFF, 1035px 1607px #FFF, 78px 193px #FFF, 1804px 210px #FFF, 173px 840px #FFF, 754px 1579px #FFF, 388px 81px #FFF;
    }
}

#stars2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 1921px 819px #FFF, 231px 1004px #FFF, 1031px 832px #FFF, 1591px 1205px #FFF, 1733px 1515px #FFF, 1411px 414px #FFF, 1923px 754px #FFF, 1350px 1882px #FFF, 153px 1520px #FFF, 952px 1191px #FFF, 378px 370px #FFF, 1766px 1813px #FFF, 1803px 1652px #FFF, 1897px 1561px #FFF, 936px 942px #FFF, 831px 372px #FFF, 322px 1521px #FFF, 609px 964px #FFF, 1829px 1871px #FFF, 875px 1079px #FFF, 338px 669px #FFF, 912px 1918px #FFF, 562px 637px #FFF, 520px 380px #FFF, 474px 1052px #FFF, 1705px 1054px #FFF, 1847px 1966px #FFF, 213px 520px #FFF, 1361px 993px #FFF, 1846px 54px #FFF, 477px 327px #FFF, 542px 1113px #FFF, 56px 871px #FFF, 1635px 864px #FFF, 689px 1799px #FFF, 1697px 1560px #FFF, 446px 1927px #FFF, 1102px 1774px #FFF, 774px 1992px #FFF, 127px 1961px #FFF, 1001px 1577px #FFF, 389px 1112px #FFF, 257px 1992px #FFF, 1634px 1885px #FFF, 1040px 815px #FFF, 26px 1866px #FFF, 322px 426px #FFF, 730px 251px #FFF, 675px 890px #FFF, 1922px 1580px #FFF, 1433px 1293px #FFF, 589px 1295px #FFF, 785px 212px #FFF, 583px 1745px #FFF, 554px 728px #FFF, 1316px 300px #FFF, 1448px 494px #FFF, 576px 410px #FFF, 250px 1797px #FFF, 1848px 1990px #FFF, 1729px 1596px #FFF, 1018px 212px #FFF, 1260px 814px #FFF, 10px 585px #FFF, 1646px 431px #FFF, 112px 1927px #FFF, 1047px 977px #FFF, 820px 756px #FFF, 826px 1708px #FFF, 722px 798px #FFF, 931px 115px #FFF, 877px 202px #FFF, 348px 1768px #FFF, 1741px 1643px #FFF, 812px 869px #FFF, 506px 1400px #FFF, 89px 1470px #FFF, 1805px 1962px #FFF, 1883px 1772px #FFF, 148px 1130px #FFF, 1490px 1472px #FFF, 1109px 1944px #FFF, 1125px 1822px #FFF, 337px 1804px #FFF, 733px 1420px #FFF, 612px 382px #FFF, 1815px 1423px #FFF, 227px 892px #FFF, 52px 963px #FFF, 305px 1776px #FFF, 974px 1140px #FFF, 1736px 1370px #FFF, 731px 485px #FFF, 324px 1858px #FFF, 1478px 1617px #FFF, 714px 192px #FFF, 1653px 573px #FFF, 1846px 456px #FFF, 1404px 212px #FFF, 798px 484px #FFF;
    animation: animStar 100s linear infinite;

    &::after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: transparent;
        box-shadow: 1921px 819px #FFF, 231px 1004px #FFF, 1031px 832px #FFF, 1591px 1205px #FFF, 1733px 1515px #FFF, 1411px 414px #FFF, 1923px 754px #FFF, 1350px 1882px #FFF, 153px 1520px #FFF, 952px 1191px #FFF, 378px 370px #FFF, 1766px 1813px #FFF, 1803px 1652px #FFF, 1897px 1561px #FFF, 936px 942px #FFF, 831px 372px #FFF, 322px 1521px #FFF, 609px 964px #FFF, 1829px 1871px #FFF, 875px 1079px #FFF, 338px 669px #FFF, 912px 1918px #FFF, 562px 637px #FFF, 520px 380px #FFF, 474px 1052px #FFF, 1705px 1054px #FFF, 1847px 1966px #FFF, 213px 520px #FFF, 1361px 993px #FFF, 1846px 54px #FFF, 477px 327px #FFF, 542px 1113px #FFF, 56px 871px #FFF, 1635px 864px #FFF, 689px 1799px #FFF, 1697px 1560px #FFF, 446px 1927px #FFF, 1102px 1774px #FFF, 774px 1992px #FFF, 127px 1961px #FFF, 1001px 1577px #FFF, 389px 1112px #FFF, 257px 1992px #FFF, 1634px 1885px #FFF, 1040px 815px #FFF, 26px 1866px #FFF, 322px 426px #FFF, 730px 251px #FFF, 675px 890px #FFF, 1922px 1580px #FFF, 1433px 1293px #FFF, 589px 1295px #FFF, 785px 212px #FFF, 583px 1745px #FFF, 554px 728px #FFF, 1316px 300px #FFF, 1448px 494px #FFF, 576px 410px #FFF, 250px 1797px #FFF, 1848px 1990px #FFF, 1729px 1596px #FFF, 1018px 212px #FFF, 1260px 814px #FFF, 10px 585px #FFF, 1646px 431px #FFF, 112px 1927px #FFF, 1047px 977px #FFF, 820px 756px #FFF, 826px 1708px #FFF, 722px 798px #FFF, 931px 115px #FFF, 877px 202px #FFF, 348px 1768px #FFF, 1741px 1643px #FFF, 812px 869px #FFF, 506px 1400px #FFF, 89px 1470px #FFF, 1805px 1962px #FFF, 1883px 1772px #FFF, 148px 1130px #FFF, 1490px 1472px #FFF, 1109px 1944px #FFF, 1125px 1822px #FFF, 337px 1804px #FFF, 733px 1420px #FFF, 612px 382px #FFF, 1815px 1423px #FFF, 227px 892px #FFF, 52px 963px #FFF, 305px 1776px #FFF, 974px 1140px #FFF, 1736px 1370px #FFF, 731px 485px #FFF, 324px 1858px #FFF, 1478px 1617px #FFF, 714px 192px #FFF, 1653px 573px #FFF, 1846px 456px #FFF, 1404px 212px #FFF, 798px 484px #FFF;
    }
}

#stars3 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 1498px 791px #FFF, 1834px 1515px #FFF, 573px 257px #FFF, 566px 1195px #FFF, 843px 249px #FFF, 1518px 1932px #FFF, 620px 1625px #FFF, 1766px 1253px #FFF, 969px 1001px #FFF, 1601px 759px #FFF, 1109px 486px #FFF, 615px 1825px #FFF, 1038px 1207px #FFF, 261px 1626px #FFF, 452px 778px #FFF, 1409px 89px #FFF, 169px 579px #FFF, 756px 1175px #FFF, 1975px 979px #FFF, 1178px 1918px #FFF, 924px 595px #FFF, 1473px 554px #FFF, 515px 943px #FFF, 27px 1682px #FFF, 1187px 1409px #FFF, 1161px 1946px #FFF, 1260px 603px #FFF, 1790px 430px #FFF, 592px 1617px #FFF, 1866px 943px #FFF, 717px 1213px #FFF, 1348px 880px #FFF, 60px 388px #FFF, 1637px 1048px #FFF, 860px 1559px #FFF, 881px 494px #FFF, 658px 353px #FFF, 684px 714px #FFF, 1277px 1454px #FFF, 1223px 1842px #FFF, 1087px 593px #FFF, 722px 1012px #FFF, 1102px 1042px #FFF, 1783px 42px #FFF, 1450px 1725px #FFF, 1542px 1352px #FFF, 492px 347px #FFF, 1577px 568px #FFF, 758px 455px #FFF, 1920px 837px #FFF;
    animation: animStar 150s linear infinite;

    &::after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: transparent;
        box-shadow: 1498px 791px #FFF, 1834px 1515px #FFF, 573px 257px #FFF, 566px 1195px #FFF, 843px 249px #FFF, 1518px 1932px #FFF, 620px 1625px #FFF, 1766px 1253px #FFF, 969px 1001px #FFF, 1601px 759px #FFF, 1109px 486px #FFF, 615px 1825px #FFF, 1038px 1207px #FFF, 261px 1626px #FFF, 452px 778px #FFF, 1409px 89px #FFF, 169px 579px #FFF, 756px 1175px #FFF, 1975px 979px #FFF, 1178px 1918px #FFF, 924px 595px #FFF, 1473px 554px #FFF, 515px 943px #FFF, 27px 1682px #FFF, 1187px 1409px #FFF, 1161px 1946px #FFF, 1260px 603px #FFF, 1790px 430px #FFF, 592px 1617px #FFF, 1866px 943px #FFF, 717px 1213px #FFF, 1348px 880px #FFF, 60px 388px #FFF, 1637px 1048px #FFF, 860px 1559px #FFF, 881px 494px #FFF, 658px 353px #FFF, 684px 714px #FFF, 1277px 1454px #FFF, 1223px 1842px #FFF, 1087px 593px #FFF, 722px 1012px #FFF, 1102px 1042px #FFF, 1783px 42px #FFF, 1450px 1725px #FFF, 1542px 1352px #FFF, 492px 347px #FFF, 1577px 568px #FFF, 758px 455px #FFF, 1920px 837px #FFF;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}


.js-block {
    display: inline-flex;
    width: 150px;
    flex-direction: column;


    &__title {
        color: #ffffff;
        text-align: center;
        margin-bottom: 10px;
    }

    &__button {
        width: 150px;
        height: 40px;
        margin-bottom: 10px;
        background-color: #c02942;
        border: 1px solid #c02942;
        color: #ecd078;
        font-size: 1rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: #f0b49e;
            border: 1px solid #f0b49e;
            color: #542437;
            transition: 0.4s ease;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}